@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap')

$mainFont: 'Nunito', sans-serif
$additionalFont: 'Rubik', sans-serif

$backgroundColor: #FFFFFF
$mainColor: #14A76C
$mainAccentColor: #FF652F
$additionalAccentColor: #E02D05
$backgroundAccentColor: linear-gradient(326.12deg, rgba(93,119,255,1) 17.95%, rgba(101,57,193,1) 89.78%)
$mainFontColor: #1F1D2A
$additionalFontColor: #4F5569
$accentFontColor: #9FA0A7
$additionalAccentFontColor: #D6D7DD

$buttonColor: $mainColor
$additionalButtonColor: $mainAccentColor

$linkColor: $mainColor
$additionalLinkColor: $mainAccentColor

$textSelectionColor: $mainAccentColor

//$inverse: linear-gradient(326.12deg, rgba(255,101,47,1) 17.95%, rgba(224,45,5,1) 89.78%)