@import "../../styles/basic"

.cards
  margin: 200px auto 0
  background: url("../../assets/image/cards/waves.png")
  width: 1920px
  height: 604px

.cards__container
  margin: 0 auto
  height: 472px
  width: 1395px

.cards__list
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  height: 370px
  width: 1395px
  border-radius: 16px