@import "../../styles/variables"

.animatedSpace
  position: relative
  height: 810px
  width: 900px
  background-image: url("../../assets/image/animatedSpace/space-background.png"), $backgroundAccentColor
  background-size: 864px 693px, 860px 690px
  background-position: right top
  background-repeat: no-repeat

.animatedSpace__girl
  position: absolute
  top: 570px
  left: 300px

.animatedSpace__paperAirplanes
  position: absolute
  top: 800px
  left: 100px