@import "../../styles/variables"

.diplomaInformation
  background: url("../../assets/image/common/waves.png") no-repeat
  background-size: 1920px 451px

.diplomaInformation__container
  height: (156+480+185)px
  width: 1391px
  margin: 0 auto
  @include flex-space-between

.diplomaInformation__blockText
  font-family: $additionalFont
  font-size: 18px
  line-height: 27px
  letter-spacing: 0.05em
  text-align: left
  color: $additionalFontColor
  width: 497px